In [60]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [61]:
from tradeit.backtester import BacktestWrapper
from tradeit.strategies import Bouncing
import pandas as pd
from tradeit.candlesticks import Candle

In [70]:
from tradeit.backtester.core import Backtest

In [71]:
path = r"MSFT.csv"

In [72]:
df = pd.read_csv(path)

In [73]:
#btw = BacktestWrapper(strategy=Bouncing, analysis_type="MICRO")
bt = Backtest()

In [74]:
btr = bt.run(df, strategy=Bouncing)

In [79]:
btr = btr["_trades"]

In [86]:
btr

,Size,EntryBar,ExitBar,OneR,SlPrice,TpPrice,EntryPrice,ExitPrice,MaxPnL,MaxNegativePnl,PnL,ReturnPct,EntryTime,ExitTime,Duration,IsLosing,RiskToReward
0,96,46,48,1.050,NaN,65.380,63.280,62.230,0.120,-1.330,-100.800,-0.017,46,48,2,True,-1.000
1,127,75,77,0.780,NaN,66.340,64.780,64.000,0.020,-0.730,-99.060,-0.012,75,77,2,True,-1.000
2,36,151,164,2.790,NaN,76.450,70.870,68.080,0.840,-2.780,-100.440,-0.039,151,164,13,True,-1.000
3,73,227,235,1.330,73.260,77.250,74.590,77.250,2.040,-0.880,194.180,0.036,227,235,8,False,2.000
4,77,267,271,1.300,NaN,86.630,84.030,82.730,1.030,-0.850,-100.100,-0.015,267,271,4,True,-1.000
5,36,336,342,2.770,NaN,100.690,95.150,92.380,2.090,-2.320,-99.720,-0.029,336,342,6,True,-1.000
6,33,376,395,3.020,92.400,101.460,95.420,101.460,5.440,-0.370,199.320,0.063,376,395,19,False,2.000
7,33,376,395,3.020,92.400,101.460,95.420,101.460,5.440,-0.370,199.320,0.063,376,395,19,False,2.000
8,17,319,396,6.050,83.780,101.930,89.830,102.000,12.030,-2.750,206.890,0.135,319,396,77,False,2.012
9,17,319,396,6.050,83.780,101.930,89.830,102.000,12.030,-2.750,206.890,0.135,319,396,77,False,2.012
10,36,472,482,2.960,NaN,119.820,113.900,110.940,2.280,-2.270,-106.560,-0.026,472,482,10,True,-1.000
11,5,834,838,21.120,NaN,215.260,173.020,151.000,1.980,-17.020,-110.100,-0.127,834,838,4,True,-1.043
12,13,875,903,8.490,169.290,194.760,177.780,194.760,12.920,-3.980,220.740,0.096,875,903,28,False,2.000
13,28,951,957,3.880,207.410,219.050,211.290,219.050,5.320,-2.380,217.280,0.037,951,957,6,False,2.000
14,10,918,958,11.050,193.450,226.600,204.500,226.600,17.590,-6.990,221.000,0.108,918,958,40,False,2.000
15,14,1036,1048,8.070,NaN,236.350,220.210,212.140,6.970,-5.400,-112.980,-0.037,1036,1048,12,True,-1.000
16,15,1050,1062,7.600,211.840,234.640,219.440,238.000,14.740,-7.410,278.400,0.085,1050,1062,12,False,2.442
17,12,1142,1165,9.550,238.500,267.150,248.050,267.150,18.780,-5.050,229.200,0.077,1142,1165,23,False,2.000
18,11,1237,1251,10.350,280.150,311.200,290.500,311.200,20.590,-4.990,227.700,0.071,1237,1251,14,False,2.000

In [5]:
import pandas as pd
from tradeit.constants import SYMBOL

In [6]:
df = pd.read_csv("logs/bouncing_results.csv")

In [7]:
df.rename(columns={"Unnamed: 0": SYMBOL}, inplace=True)

In [8]:
df

,Symbol,Size,EntryBar,ExitBar,OneR,SlPrice,TpPrice,EntryPrice,ExitPrice,MaxPnL,MaxNegativePnl,PnL,ReturnPct,EntryTime,ExitTime,Duration
0,a,250.0,1476.0,1478.0,0.803,NaN,23.156,21.550,20.747,0.017,-0.658,-200.750,-0.037262,2005-10-10,2005-10-12,2.0
1,a,290.0,1606.0,1608.0,0.685,24.347,26.402,25.032,26.402,1.091,-0.090,397.300,0.054730,2006-04-18,2006-04-20,2.0
2,a,218.0,2579.0,2597.0,0.930,20.378,23.168,21.308,23.168,1.786,-0.091,405.480,0.087291,2010-03-01,2010-03-25,24.0
3,a,115.0,2822.0,2827.0,1.802,NaN,34.112,30.508,28.706,0.147,-1.725,-207.230,-0.059066,2011-02-14,2011-02-22,8.0
4,a,103.0,2916.0,2924.0,1.993,NaN,38.248,34.262,32.269,1.259,-1.348,-205.279,-0.058169,2011-06-29,2011-07-12,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64176,zx,400.0,1415.0,1619.0,0.500,1.010,2.510,1.510,1.140,0.440,-0.460,-148.000,-0.245033,2017-01-23,2017-11-10,291.0
64177,zyne,37.0,21.0,24.0,5.440,NaN,42.910,32.030,26.590,1.030,-4.900,-201.280,-0.169841,2015-09-03,2015-09-09,6.0
64178,zyne,130.0,337.0,356.0,1.530,12.250,16.840,13.780,16.840,2.960,-0.900,397.800,0.222061,2016-12-05,2017-01-03,29.0
64179,zyne,99.0,341.0,357.0,2.030,13.720,19.810,15.750,19.810,2.250,-1.890,401.940,0.257778,2016-12-09,2017-01-04,26.0
64180,zyne,220.0,381.0,384.0,0.940,17.890,20.710,18.830,20.710,1.610,-0.220,413.600,0.099841,2017-02-08,2017-02-13,5.0

In [81]:
from tradeit.optimization.analysis import Analyzer

In [82]:
analyzer = Analyzer(btr)

In [83]:
analyzer.win_rate()

0.42105263157894735

In [84]:
analyzer.stats()

         Duration                RiskToReward
             mean min max    std         mean    min    max   std
IsLosing
False      29.364   6  77 25.394        2.042  2.000  2.442 0.133
True        6.625   2  13  4.438       -1.005 -1.043 -1.000 0.015

In [54]:
from tradeit.optimization import ML, Dataset, DatasetBuilder

In [55]:
def ema18(stock: pd.DataFrame) -> pd.Series:
    return stock["Close"].ewm(span=18, adjust=False).mean()

def ema50(stock: pd.DataFrame) -> pd.Series:
    return stock["Close"].ewm(span=50, adjust=False).mean()

def ema100(stock: pd.DataFrame) -> pd.Series:
    return stock["Close"].ewm(span=100, adjust=False).mean()

In [56]:
indicators = {"ema18": ema18, "ema50": ema50, "ema100": ema100}

In [57]:
path_to_ur_stocks = r"C:\Users\abdel\Desktop\archive\Stocks"

In [58]:
dataset_builder = DatasetBuilder(df, path_to_ur_stocks, indicators)

In [59]:
dataset = dataset_builder.build()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\abdel\\Desktop\\archive\\Stocks'

In [19]:
from tradeit.optimization import ML

In [20]:
# optimizing 
ml = ML(dataset)
ml.fit()

In [21]:
ml.evaluate()

ValueError: Shape of passed values is (4, 1), indices imply (4, 4)

In [22]:
import pandas as pd

In [28]:
l= [[1, 2, 4]]
pd.DataFrame(l, columns=["A", "B", "C"])

   A  B  C
0  1  2  4